POSTGRES_MANAGED_VOLUME_NAME=pf_postgres_data_managed
POSTGRES_CLUSTER_PORT=55440
POSTGRES_CLUSTER_HOST=localhost
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=postgres

REFERENCE_API_DB_NAME=reference_api
REFERENCE_API_APP_ROLE=svc_reference_api_app
REFERENCE_API_APP_PASSWORD=dev_reference_api_app
REFERENCE_API_MIGRATOR_ROLE=svc_reference_api_migrator
REFERENCE_API_MIGRATOR_PASSWORD=dev_reference_api_migrator

DEVICE_INGESTION_DB_NAME=device_ingestion
DEVICE_INGESTION_APP_ROLE=svc_device_ingestion_app
DEVICE_INGESTION_APP_PASSWORD=dev_device_ingestion_app
DEVICE_INGESTION_MIGRATOR_ROLE=svc_device_ingestion_migrator
DEVICE_INGESTION_MIGRATOR_PASSWORD=dev_device_ingestion_migrator

CHANNEL_POLICY_ROUTER_DB_NAME=channel_policy_router
CHANNEL_POLICY_ROUTER_APP_ROLE=svc_channel_policy_router_app
CHANNEL_POLICY_ROUTER_APP_PASSWORD=dev_channel_policy_router_app
CHANNEL_POLICY_ROUTER_MIGRATOR_ROLE=svc_channel_policy_router_migrator
CHANNEL_POLICY_ROUTER_MIGRATOR_PASSWORD=dev_channel_policy_router_migrator

AUTOMATION_SCENARIO_DB_NAME=automation_scenario
AUTOMATION_SCENARIO_APP_ROLE=svc_automation_scenario_app
AUTOMATION_SCENARIO_APP_PASSWORD=dev_automation_scenario_app
AUTOMATION_SCENARIO_MIGRATOR_ROLE=svc_automation_scenario_migrator
AUTOMATION_SCENARIO_MIGRATOR_PASSWORD=dev_automation_scenario_migrator
